body {
  text-align: center;
  /* font-family: 'Georama', sans-serif;
font-family: 'Gowun Batang', serif;
font-family: 'Roboto', sans-serif;
font-family: 'STIX Two Text', serif; */
}

.overflow-container {
  overflow: hidden;
}

h1 {
  font-family: 'Georama', sans-serif;
  color: #7e7e80;

}

p {
  font-family: 'Roboto', sans-serif;
}

footer {
  height: 7rem;
  font-size: 2rem;
}

/* .quiz-questions{
  display: block;
  text-align: center;
} */

.title {
  margin: 4rem;
}

.intro-paragraph {
  text-align: left;
  line-height: 1.6rem;
}


.intro-title{
  font-family: 'STIX Two Text', serif;
}

.question {
  text-align: left;
  display: block;
  line-height: 1.8rem;
}


.even {
  background-image: linear-gradient(#b8bfcc,#ebeced);
  border-radius: 2%;
  padding: 1rem;
}

.odd{
  border-radius: 2%;
  padding: 1rem;
}

.submit {
  margin: 3rem;
}

.totalScore {
  margin: 2rem;
}

.end h2 {
  margin: 2rem;
}


/* @keyframes mymove {
  from {background-color: red;}
  to {background-color: blue;}
} */
